html,body{
    height: 100%;
    padding: 0;
    margin: 0;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    height: 100%;
}
.el-container.is-vertical{
    /* height: 100%; */
}
.el-header{
    padding: 0;
}
.mainContainer{
    /* min-height: calc(100% - 120px); */
    /* height: 100vh; */
    /* margin-top: 60px; */
    height: auto;
    overflow-y: auto;
    padding: 0;
}
.el-footer{
    padding: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}